<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.minesweeper.UI.Activities">

    <uses-sdk
            android:maxSdkVersion="23"
            android:minSdkVersion="17"
            android:targetSdkVersion="18"/>

    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true" />

    <permission
            android:name="com.minesweeper.UI.Activities.permission.MAPS_RECEIVE"
            android:protectionLevel="signature"/>

    <uses-permission android:name="com.minesweeper.UI.Activities.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.access_coarse_location"/>
    //based on network only
    <uses-permission android:name="android.permission.INTERNET"/>

    <application

            android:allowBackup="true"
            android:icon="@mipmap/bomb_logo"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">


        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".OptionsActivity"
                android:label="@string/title_activity_options"
                android:theme="@style/PreferencesTheme">
        </activity>
        <activity
                android:name=".GameActivity"
                android:label="@string/title_activity_game"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".DBRecordsFragmentActivity"
                android:label="@string/title_activity_dbRecords_fragment">
        </activity>

        <servicec
                android:name="com.minesweeper.BL.Services.PositionSampleService"
                android:enabled="true"
                android:exported="true">
        </servicec>

        <service
                android:name="com.minesweeper.BL.Services.GPSTracker"
                android:enabled="true"
                android:exported="true">
        </service>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDX1o5S5-khqFx1h2dpp8NbOROEpo8gLRk" />

        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />

    </application>

</manifest>
